/* TODO - find colour to match background of body */


:root {
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);
  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
  --border-radius: 10px;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background: var(--black);
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.main-container {
  max-width: 375px;
  background-color: var(--yellow-100);
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 15rem 9rem 12rem;
  gap: 30px;
  padding: 20px;
}

.item-1 {
  width: 100%;
  background-color: var(--purple-500);
  border-radius: var(--border-radius);
  color: var(--white);
  padding: 20px;
  text-align: center;

  & .item-1-main-text {
    margin: 1rem 0 1.2rem 0;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 90%;
  }

  & .item-1-yellow-text {
    color: var(--yellow-500);
  }

  & .five-star-review {
    width: 65%;

  }

  & .item-1-subtext {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
  }
}

.item-2 {
  background-color: var(--white);
  border-radius: var(--border-radius);
  padding: 20px;
  width: 100%;

  & .item-2-image {
    width: 100%;
    background: var(--white);
  }

  & .item-2-text {
    line-height: 95%;
    margin: .3rem 0;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: -2px;
  }
}

.item-3 {
  width: 100%;
  background-color: var(--yellow-500);
  border-radius: var(--border-radius);
  padding: 15px 20px  0 20px;
  overflow: hidden;

  & .item-3-text {
    margin: 0;
    line-height: 95%;
    font-size: 1.5rem;
    letter-spacing: -2px;
    font-weight: 500;
  }

  & .item-3-image {
    width: 70%;
    margin-top: 15px;
  }
}
